openapi: 3.0.0
info:
  version: 1.0.0
  title: TCPCM
  description: REST API for TCPCM
  license:
    name: MIT
  contact:
    name: API Support
    url: 'http://www.example.com/support'
    email: support@example.com
servers:
  - url: 'http://ec2-54-165-183-53.compute-1.amazonaws.com:8080'
paths:
  /courses:
    get:
      summary: List Courses
      operationId: listCourses
      description: List courses according to the given query
      tags:
        - courses
      parameters:
        - name: chiefProfessor
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: An array of courses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      summary: Create Course
      operationId: createCourse
      tags:
        - courses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Course'
      responses:
        '201':
          description: The created course
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/courses/{courseID}':
    get:
      summary: Course Detail
      operationId: getCourseById
      description: Information for a specific course
      tags:
        - courses
      parameters:
        - name: courseID
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /classes:
    get:
      summary: List Classes
      operationId: listClasses
      description: List classes according to the given query
      tags:
        - classes
      parameters:
        - name: courseID
          in: query
          description: top level courseID
          required: false
          schema:
            type: string
        - name: chiefProfessor
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: An array of classes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Class'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      summary: Create class
      operationId: createClass
      tags:
        - classes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Class'
      responses:
        '201':
          description: The created class (fully populated)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/classes/{classID}':
    get:
      summary: Class Detail
      operationId: getClassById
      description: Information for a specific class
      tags:
        - classes
      parameters:
        - name: classID
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Class'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /projects:
    post:
      summary: Create Project
      operationId: createProject
      tags:
        - projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        '201':
          description: The created project (fully populated)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /quizzes:
    get:
      summary: List Quizzes
      operationId: listQuizzes
      description: List quizzes according to the given query
      tags:
        - quizzes
      parameters:
        - $ref: '#/paths/~1classes/get/parameters/0'
      responses:
        '200':
          description: An array of quizzes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quiz'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      summary: Create Quiz
      operationId: createQuiz
      description: Create a quiz
      tags:
        - quizzes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Quiz'
      responses:
        '201':
          $ref: '#/components/responses/NullResponse'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/quizzes/{quizID}':
    get:
      summary: Quiz Detail
      operationId: getQuizById
      description: Information for a specific quiz
      tags:
        - quizzes
      parameters:
        - name: quizID
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quiz'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /quiz-records/:
    get:
      summary: List Quiz Records
      operationId: listQuizRecords
      description: List quiz records according to the given query
      tags:
        - quizzes
      parameters:
        - name: quizID
          in: query
          required: false
          schema:
            type: string
        - name: student
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: An array of quiz records
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuizRecord'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/quiz-records/{quizRecordID}':
    get:
      summary: Quiz Record Detail
      operationId: getQuizRecordByID
      description: Information for a specific quiz record
      tags:
        - quizzes
      parameters:
        - name: quizRecordID
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuizRecord'
        default:
          $ref: '#/components/responses/UnexpectedError'
    patch:
      summary: Grade Quiz
      operationId: gradeQuiz
      description: Grade a single quiz record
      tags:
        - quizzes
      parameters:
        - name: quizRecordID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: QuizRecordGradingPatch
              type: object
              required:
                - grader
                - grade
              properties:
                grader:
                  type: string
                grade:
                  type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuizRecord'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /test/public:
    get:
      summary: Ping Public
      operationId: pingPublic
      description: Testing connection by pinging a *public* endpoint.
      tags:
        - test
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
                example: Successfully accessed public endpoint
  /test/private:
    get:
      summary: Ping Private
      operationId: pingPrivate
      description: Testing connection by pinging a *private* endpoint.
      tags:
        - test
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
                example: Successfully accessed private endpoint
        '401':
          description: Authentication information is missing or invalid
          headers:
            WWW_Authenticate:
              schema:
                type: string
      security:
        - basicAuth: []
  /pets:
    get:
      summary: List
      operationId: listPets
      description: List all pets
      tags:
        - pets
      parameters:
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A paged array of pets
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - name
                properties:
                  id:
                    type: integer
                    format: int64
                  name:
                    type: string
                  tag:
                    type: string
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      summary: Create
      operationId: createPets
      description: Create a pet
      tags:
        - pets
      responses:
        '201':
          $ref: '#/components/responses/NullResponse'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/pets/{petId}':
    get:
      summary: Detail
      operationId: showPetById
      description: Info for a specific pet
      tags:
        - pets
      parameters:
        - $ref: '#/components/parameters/petId'
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/paths/~1pets/get/responses/200/content/application~1json/schema'
        default:
          $ref: '#/components/responses/UnexpectedError'
components:
  parameters:
    petId:
      name: petId
      in: path
      required: true
      description: The id of the pet to retrieve
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: How many items to return at one time (max 100)
      required: false
      schema:
        type: integer
        format: int32
  schemas:
    Course:
      title: Course
      description: A TCPC Course
      type: object
      required:
        - code
        - title
        - theme
        - chiefProfessor
        - deputyProfessors
      properties:
        ID:
          description: 'Unique identifier of a course across the platform. It is derived from the supplied `code` and `theme`. Later, `year` may also be incorporated.'
          type: string
        code:
          description: 'The subject code. For Capstone Course in AF, this is AF4912.'
          type: string
        title:
          description: 'The subject title, normally "Capstone Project Course"'
          type: string
        theme:
          description: Course theme
          type: string
        chiefProfessor:
          description: The user (professor who manages this course)
          type: string
        deputyProfessors:
          description: Other professors than the `chiefProfessor` teaching this course
          type: array
          items:
            type: string
        experts:
          description: The industry experts sponsoring this course
          type: array
          items:
            type: string
        students:
          description: The students taking this course
          type: array
          items:
            type: string
      example:
        ID: AF4912BFBD
        code: AF4912
        title: Capstone Project Course
        theme: Blockchain for Business Digitization
        chiefProfessor: brian
        deputyProfessors:
          - brian
          - jimmy
        experts:
          - peter
          - stanley
        students:
          - alice
          - bob
          - charlie
    Class:
      title: Class
      description: A class under a TCPC course
      type: object
      required:
        - courseID
        - type
        - componentCode
        - chiefProfessor
      properties:
        courseID:
          description: The ID of the TCPC course this class is under
          type: string
        ID:
          description: 'Unique identifier of a class. This property is **deduced** by combing the `courseID`, `type` and `componentCode`'
          type: string
        type:
          description: 'The type of this class, currently *seminar* or *lab*. Although no constraints are added.'
          type: string
        componentCode:
          description: Serial number for this component. Defined by the `chiefProfessor`
          type: string
        chiefProfessor:
          description: The professor managing this class. Should be the same as the `chiefProfessor` from the parent `Course`
          type: string
        experts:
          description: The industry experts assigned to this class
          type: array
          items:
            type: string
        students:
          description: The students assigned to this class
          type: array
          items:
            type: string
      example:
        courseID: AF4912BFBD
        ID: AF4912BFBD-SEM001
        type: SEM
        componentCode: '001'
        chiefProfessor: brian
        experts:
          - stanley
          - peter
        students:
          - alice
          - bob
    Group:
      title: Group
      description: A group in a TCPC course
      type: object
      properties:
        courseID:
          description: The TCPC course this group is under
          type: string
        ID:
          description: Unique identifier of a group
          type: string
        chiefProfessor:
          description: The professor managing this group
          type: string
        experts:
          description: The industry experts assigned to this group
          type: array
          items:
            type: string
        students:
          description: The students assigned to this group
          type: array
          items:
            type: string
    Project:
      title: Project
      description: A project in a TCPC course
      type: object
      required:
        - courseID
        - title
        - description
      properties:
        courseID:
          description: The ID of the TCPC course this project is under
          type: string
        ID:
          description: 'Unique identifier of a project, derived from `courseID`.'
          type: string
        title:
          description: Project title
          type: string
        description:
          description: A short description of this project
          type: string
        chiefProfessor:
          description: 'The professor managing this project, inherited from the course'
          type: string
        experts:
          description: 'The industry experts assigned to this project, inherited from the course'
          type: array
          items:
            type: string
        students:
          description: 'The students assigned to this project, inherited from the course'
          type: array
          items:
            type: string
      example:
        courseID: AF4912BFBD
        ID: AF4912BFBD-P1
        title: Blockchain Application for Small/Medium businesses
        description: Students are expected to form a group and come up with ideas for business transformation by the Blockchain Technology.
        chiefProfessor: brian
        experts:
          - stanley
          - peter
        students:
          - alice
          - bob
          - charlie
    ProjectRecord:
      title: ProjectRecord
      description: A project in a TCPC course
      type: object
      properties:
        projectID:
          type: string
        groupID:
          type: string
        gradeByProfessor:
          type: string
        gradeByExpert:
          type: string
        chiefProfessor:
          type: string
        expert:
          type: string
        students:
          type: array
          items:
            type: string
    Quiz:
      title: Quiz
      description: A quiz in a TCPC course
      type: object
      required:
        - courseID
        - title
        - description
        - chiefProfessor
      properties:
        courseID:
          type: string
        ID:
          type: string
        title:
          type: string
        description:
          type: string
        chiefProfessor:
          type: string
        students:
          type: array
          items:
            type: string
      example:
        courseID: AF4912BFBD
        ID: AF4912BFBDQ1
        title: Quiz 1
        description: First Quiz of this course. Very simple.
        chiefProfessor: brian
        students:
          - alice
          - bob
    QuizRecord:
      title: QuizRecord
      description: Graded record for a quiz
      type: object
      properties:
        ID:
          type: string
          description: This ID is for system book-keeping and not used directly by the end users.
        quizID:
          type: string
        grader:
          type: string
        student:
          type: string
        grade:
          type: string
      example:
        ID: F9E52CBC-AC07-4B06-ABF9-46EE0C9F3EE1
        quizID: AF4912BFBDQ1
        grader: brian
        student: alice
        grade: A+
    Report:
      title: Report
      description: A Report in a TCPC course
      type: object
      properties:
        courseID:
          type: string
        ID:
          type: string
        title:
          type: string
        description:
          type: string
        chiefProfessor:
          type: string
        students:
          type: array
          items:
            type: string
    ReportRecord:
      title: ReportRecord
      description: Graded and uploaded record for a report
      type: object
      properties:
        reportID:
          type: string
        sha256Checksum:
          type: string
        chiefProfessor:
          type: string
        student:
          type: string
        grade:
          type: string
  responses:
    UnexpectedError:
      description: unexpected error
      content:
        application/json:
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                type: integer
                format: int32
              message:
                type: string
    NullResponse:
      description: Null response
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
